.op1,.op2{
    margin: auto;
    margin-left: 100px;
}
.new {
    background-image: linear-gradient(#eacda3 , #d6ae7b);
    height:100vh;
    width:100vw;
}
.con{
    margin:0;
    padding:0;
}
.lb{
    height: 6vh;
    margin: 10px;
    width: 50%;
}
#bd{
    width: 100px;
    padding: 9px;
}
.cc{
    border: black;
    text-align: center;
    width: 60vw;
    
}